
        .img-circle {
            position: fixed;
            left: 0%;
            bottom: 0;
            width: 8%;
            text-align: center;

        }
        body {
            background-image:url(fond.gif);
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            background-size: cover;
            position: relative;
        }
	h1 {
		font-family:Palatino, URW Palladio L, serif;
		font-size:100px;
		font-style: italic;

		}
        a.bouton1 {
            padding: 10px 30px;
            position:fixed;
            top: 5%;
            right: 1%;
            background: linear-gradient( #777, #333);
            color: #222;
        }
        a.bouton1:hover {
            background: white;
        }
        a.bouton2 {
            padding: 10px 30px;
            position:fixed;
            top: 12%;
            right: 1%;
            background: linear-gradient( #777, #333);
            color: #222;
        }
        a.bouton2:hover {
            background: white;
        }


        button{
            width:120px;
            height:120px;
            background: #555;
            box-shadow:2px 2px 8px #aaa;
            font:bold 13px Arial;
            border-radius:50%;
            color: #222;
            background: linear-gradient( #777, #333);
        }
        button.btn:hover {
            background: white;
        }

	#log {
	    margin: auto;
	    width:120px;
	}